{% extends 'base.html' %}

{% block meta %}
    <title>Login</title>
{% endblock meta %}

{% block content %}
<style>
    .login {
        text-align: left;
        font-family: Calibri, sans-serif;
        margin-left: 30px;
        margin-top: 30px;
    }
    
    .form-control {
        width: 100%;
        padding: 5px;
        margin: 5px 0;
    }

    .login_btn {
        background-color: #d2f1ff;
        color: #000000;
        padding: 5px 10px;
        border: none;
        cursor: pointer;
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>

<div class = "login">

    <h1>Login</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td>Username: </td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Password: </td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>

            <tr>
                <td></td>
                <td><input class="btn login_btn" type="submit" value="Login"></td>
            </tr>
        </table>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    Don't have an account yet? <a href="{% url 'main:register' %}">Register Now</a>

</div>

{% endblock content %}